html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#172B4D,#344563);
    color: whitesmoke;
}
body {
    text-align: center;
}
.counter {
    font-size: 1.8vw;
}
.buttons {
    color: whitesmoke;
    width: 8vw;
    height: 2vw;
    border-radius: .75vw;
    border-color: #091E42;
    background-color: #091E42;
    color: #e5e7eb;
    font-size: smaller;
    box-shadow: none;
    border-style: solid;
    font-size: 1vw;
}
#reset {
    margin: 10vw;
    border-color: tomato;
    background-color: tomato;
}
.message-display {
    margin: 10vw;
    font-size: 2vw;
}